# NASA C-MAPSS dataset URLs
# Set these if you want to override the default download URLs
# NASA_CMAPSS_URL=https://ti.arc.nasa.gov/c/6/
# NASA_CMAPSS_TRAIN_URL=https://ti.arc.nasa.gov/c/6/train_FD001.txt
# NASA_CMAPSS_TEST_URL=https://ti.arc.nasa.gov/c/6/test_FD001.txt
# NASA_CMAPSS_RUL_URL=https://ti.arc.nasa.gov/c/6/RUL_FD001.txt

# Model parameters
# RANDOM_STATE=42
# N_ESTIMATORS=100
# MAX_DEPTH=10
